.modB {
  color: #bbbbbb;
}

.page-b{
  border: 3px solid #6CC146;
  color: #6CC146;
}

.icon-github{
	width: 750px;
	height: 36px;
	background-image: url(../../slice/icon-facebook.png);
}

.icon-facebook{
	width: 34px;
	height: 34px;
	background-image: url(../../slice/icon-github.png);
}
