.modB {
  color: #bbbbbb;
}

.page-b{
  border: 3px solid #6CC146;
  color: #6CC146;
}

//雪碧图要单独写样式,如下
//width和height如果不写,则自动添加
.icon-github{
	background-image: url(../../slice/icon-facebook.png);
}

.icon-facebook{
	background-image: url(../../slice/icon-github.png);
}
